@import "materialize";   //// import Materialize styling first
// @import "*";           //// import all other .css files

//// custom styling goes next

body {
  font-family: 'Englebert', sans-serif;
}

.navbar-color {
  background: #F85931;
}

.navbar-color-dark {
  background: #F85931;
}

.invisible {
  visibility: hidden;
}

.no-margin {
  margin: auto;
}

// .callout {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   height: 100%;
//   text-align: center;
//   position: relative;
//   z-index: 10;
// }

div.oval-right-bottom {
  color: white;
  background-color: #F85931;
  opacity: 0.85;
  width: auto;
  padding: 15px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  border-radius: 100px/25px;
}

div.oval-menu {
  color: white;
  background-color: #F85931;
  width: 100px;
  padding: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  border-radius: 100px/25px;
  text-align: center;
}

div.center-oval {
  color: white;
  text-align: center;
  background-color: #F85931;
  width: 600px;
  height: 260px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -300px;
  border-radius: 400px/100px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.center-oval h1 {
  font-size: 650%;
}

div.oval-right-bottom a {
  color: white;
}

div.oval-menu a {
  color: white;
  font-size: 150%;
}

.dropdown-content.active[style] {
  color: white;
  background-color: #F85931;
  width: 120px !important;
  position: fixed;
  padding: 10px;
  top: 6px !important;
  left: 6px !important;
  border-radius: 100px/25px;
  text-align: center;
}

.input-field input {
  line-height: 46px;
}

.waves-button-input {
  line-height: 150%;
}

.btn {
  border-radius: 100px/25px;
}
