@import "materialize";   //// import Materialize styling first
// @import "*";           //// import all other .css files

//// custom styling goes next

body {
  font-family: 'Englebert', sans-serif;
}

.navbar-color {
  background: #F85931;
}

.navbar-color-dark {
  background: #CE1836;
}

.invisible {
  visibility: hidden;
}

.notice {
  color: #018312;
}

.no-margin {
  margin: auto;
}

.error {
  color: #9c0900;
}

.callout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
}

div.oval-right-bottom {
  color: white;
  background-color: #F85931;
  opacity: 0.85;
  width: auto;
  padding: 15px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  border-radius: 100px/25px;
}

div.center-oval {
  color: white;
  text-align: center;
  background-color: #F85931;
  width: 600px;
  height: 260px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -300px;
  border-radius: 400px/100px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.center-oval h1 {
  font-size: 650%;
}

div.oval-right-bottom a {
  color: white;
}

.blackfield-main {
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=55);
  width: 90%;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
  overflow-y: scroll;
}

div.blackfield-main a {
  color: white;
}

div.blackfield-main h1,h2,p {
  color: white;
  opacity: 1;
}

.large-140 {
  font-size: 140%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.large-120 {
  font-size: 120%;
  opacity: 1;
  color: white;
}

div.blackfield-main h1,h2 {
  text-align: center;
}
